%p#notice= notice

%p
  %b Title:
  = @benefit.title
%p
  %b Subtitle:
  = @benefit.subtitle
%p
  %b Content:
  = @benefit.content
%p
  %b Link:
  = @benefit.link

= link_to 'Edit', edit_benefit_path(@benefit)
\|
= link_to 'Back', benefits_path
