%section.content.interior
  .interior-title.primary-c
    .row
      .medium-12.columns.text-center
        %h2= @page_title
  .row.interior-content
    .medium-12.columns.content-box.text-center
      %h3.black= @custom_site.content_section.insurance_content.html_safe
    .clearfix
    - if @benefits.any?
      - @benefits.each do |benefit|
        .medium-12.columns.text-center
          %h2= benefit.title
          - if benefit.sections.any?
            - benefit.sections.each do |section|
              .medium-6.columns.text-center.white
                .interior-wrap.primary-c
                  %h3= section.title
                  %div{class: "section-hide section-#{section.id}"}
                    = section.content.html_safe
                .interior-button.hover-click.secondary-c
                  %h4
                    %a.white.section-reveal{"data-toggle" => ".section-#{section.id}"} Read More

- content_for :interior_header do
  %section.container{:role => "document"}
    .row
      %section#home-hero.interior



