%section.content.interior
  .interior-title
    .row
      .medium-12.columns.text-center
        %h2= @page_title
        .benefit-link-wrap
          %a.benefit-link{href: "http://www.saversguide.com/custom/savingsmadeeasy?uuid=#{current_user.uuid}", target: '_blank'} Please click here to access your benefits.

  .row
    - if sections.any?
      - sections.each do |section|
        - sections.each do |section|
          .medium-6.columns.text-center.white
            .interior-wrap
              %h3= section.title
              %div{class: "section-hide section-#{section.id}"}
                = section.content.html_safe
            .interior-button.hover-click
              %h3
                %a.section-reveal{"data-toggle" => ".section-#{section.id}"} Read More

- content_for :interior_header do
  %section.container{:role => "document"}
    .row
      %section#home-hero.interior
        .row

