%section.content.home-sections
  .row.interior-content
    .large-12.columns.content-box.text-center
      %h3= @custom_site.content_section.intro_content.gsub!("[BANK NAME]", @custom_site.name).html_safe
    %ul.large-block-grid-4.small-block-grid-1
      - @benefits.each do |benefit|
        %li.home_section
          .inner
            %h4.box-title.text-center= benefit.title
            - if user_signed_in?
              - if benefit.title == 'Savings Made Easy'
                .link-one
                  %a{href: "http://www.saversguide.com/custom/savingsmadeeasy?uuid=#{current_user.member_id}"} Click here to save
              - if benefit.id == 37
                .link-one
                  %a{href: "https://www.identityiq.com/Credit-Reports/ReportHome.aspx?offercode=431128GN&plancode=PLAN5&sid=#{current_user.member_id}"}= benefit.link_one_text
              - if benefit.id == 38
                .link-one
                  %a{href: "https://www.identityiq.com/Credit-Reports/ReportHome.aspx?offercode=431128J7&plancode=PLAN4&sid=#{current_user.member_id}"}= benefit.link_one_text
              - if benefit.id == 39
                .link-one
                  %a{href: "https://www.identityiq.com/Credit-Reports/ReportHome.aspx?offercode=431128GL&plancode=PLAN2&sid=#{current_user.member_id}"}= benefit.link_one_text
              - if benefit.link.present?
                .link-one
                  %a{href: "#{benefit.link}", target: '_blank'}= benefit.link_one_text
              - if benefit.link_two.present?
                .link-one
                  %a{href: "#{benefit.link_two}", target: '_blank'}= benefit.link_two_text
              - if benefit.link_three.present?
                .link-one
                  %a{href: "#{benefit.link_three}", target: '_blank'}= benefit.link_three_text
              %ul.large-block-grid-2.small-block-grid-1
              - unless benefit.link_two.present?
                - if benefit.link_two_text.present?
                  .link-bottom
                    %p.small= benefit.link_two_text.html_safe

- if user_signed_in?
  - content_for :interior_header do
    %section.container{:role => "document"}
      .row
        %section#home-hero.home
          .row
            .large-7.columns
              .large-9.hide-for-medium-down
                %h2 Member Benefits
              .show-for-medium-down.center
                %h2 Member Benefits

- else
  - content_for :interior_header do
    %section.container{:role => "document"}
      .row
        %section#home-hero
          .row
            .large-12.columns.text-center
              %h3.login Member Benefits
          .row
            .medium-4.medium-offset-4.columns
              %h3.login
                = link_to "Join Now", new_user_registration_path(custom_site: @custom_site.id)
              %p.login
                Already a member?
                %i
                  %a.hideform-trigger Sign in.
          .row.formhide
            %aside.medium-6.medium-offset-3.home-login-form.left.text-center
              .inner
                %header Access Benefits
                #errorMSG
                %form#new_user.simple_form.form{"accept-charset" => "UTF-8", :action => "/users/sign_in", :autocomplete => "off", :method => "post", :novalidate => "novalidate"}
                  %div{:style => "margin:0;padding:0;display:inline"}
                    %input{:name => "utf8", :type => "hidden", :value => "✓"}/
                    %input{:name => "authenticity_token", :type => "hidden", :value => "PH3peB8BC8/G/4tiPto9SEs/pQByGHmYDGMCAaH4quU="}/
                  .small-12.columns.no-padding
                    %input#user_email.string.email.required{:maxlength => "255", :name => "user[email]", :placeholder => "email", :size => "255", :type => "email"}/
                  .clearfix
                  .small-12.columns.no-padding
                    %input#user_password.password.required{:name => "user[password]", :placeholder => "password", :type => "password"}/
                  .clearfix
                  .small-10.small-offset-1.columns
                    %input.home-submit{:name => "commit", :type => "submit", :value => "Submit"}/
                    .clearfix
                    = link_to 'Register for an account', new_user_registration_path(custom_site: @custom_site.id), class: 'home-submit home-register'
                    - if devise_mapping.recoverable? && controller_name != 'passwords'
                      = link_to "Forgot your password?", new_password_path(resource_name), class: 'forgot-password'
