%nav.tab-bar.show-for-medium-down
  %section.right-small
    %a.right-off-canvas-toggle.menu-icon
      %span
  %section.middle.tab-bar-section
    %a{href: "/mb/#{@custom_site.url}"}
      %img{src: "#{@logo}"}
%aside.right-off-canvas-menu
  = render 'shared/mobile_navigation_links'

.header
  .top-bar-container.contain-to-grid.show-for-large-up.primary-c.accent-color
    %nav.top-bar{"data-topbar" => ""}
      %ul.title-area
        %li.name
          %h1
            %a{href: "/mb/#{@custom_site.url}"}
              %img{src: "#{@logo}"}
      %section.top-bar-section
        %ul#main-menu.top-bar-menu.right
          = render 'shared/template_navigation_links'
