%section.content
  .row
    .medium-3.columns.text-center
      = image_tag "#{@template}/rewards.png"
      %h2.text-center Rewards
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eveniet a eius temporibus nostrum alias, blanditiis architecto reprehenderit ab id mollitia sit, necessitatibus minus iste, libero aut obcaecati provident officia sapiente non soluta. Doloribus obcaecati minus numquam consequatur debitis dolor voluptatibus, nulla dolore deleniti, earum quod, magni asperiores animi. Explicabo!
    .medium-3.columns.text-center
      = image_tag "#{@template}/health.png"
      %h2.text-center Health
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, doloremque modi officiis expedita at eos facilis cum eaque odit nisi. Expedita quidem eveniet, doloribus atque sit quia eos vero corporis, ad nisi et! Eius quia ab similique assumenda, at adipisci, quam officia ea laborum iste quis dolor laboriosam nobis omnis.
    .medium-3.columns.text-center
      = image_tag "#{@template}/insurance.png"
      %h2.text-center Insurance
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda in tempora, quod voluptates rerum repellendus corporis quia? Exercitationem minima autem quasi soluta. Laudantium, accusantium reprehenderit nostrum sapiente perferendis unde ut odio modi, autem aliquam fugit itaque officia. At, reiciendis sed totam mollitia explicabo unde, harum? Consequuntur sed, beatae error incidunt.
    .medium-3.columns.text-center
      = image_tag "#{@template}/security.png"
      %h2.text-center Security
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis excepturi perspiciatis provident maiores eum accusantium suscipit accusamus, deleniti expedita dolorum at fugit. Perferendis quia, similique architecto et facere. Mollitia similique voluptate quis accusantium rem, autem. Quae facere vitae assumenda deserunt recusandae distinctio reiciendis voluptatibus. Recusandae at doloribus modi illo reprehenderit?

= content_for :home_header do
  = render "shared/#{@template}/home_hero"
