%section.content.interior
  .interior-title.secondary-c
    .row
      .medium-12.columns.text-center
        %h2= @page_title
  .row.interior-content
    .medium-12.columns.content-box.text-center
      %h3= @custom_site.content_section.security_content.html_safe
    .clearfix
    - if @benefits.any?
      - @benefits.each do |benefit|
        .medium-6.columns
          .interior-wrap
            %h2.primary-text-c= benefit.title
            - if user_signed_in?
              - if benefit.id == 37
                %ul.benefit-links-ul
                  %li
                    %a{href: "#{benefit.link}#{current_user.member_id}"}= benefit.link_one_text
                  - if benefit.link_two.present?
                    %li.show-for-large-up= link_to benefit.link_two_text, benefit.link_two
                  - if benefit.link_three.present?
                    %li.show-for-large-up= link_to benefit.link_three_text, benefit.link_three
              - elsif benefit.id == 38
                %ul.benefit-links-ul
                  %li
                    %a{href: "https://www.identityiq.com/Credit-Reports/ReportHome.aspx?offercode=431128J7&plancode=PLAN4&sid=#{current_user.member_id}"}= benefit.link_one_text
                  - if benefit.link_two.present?
                    %li.show-for-large-up= link_to benefit.link_two_text, benefit.link_two
                  - if benefit.link_three.present?
                    %li.show-for-large-up= link_to benefit.link_three_text, benefit.link_three
              - elsif benefit.id == 39
                %ul.benefit-links-ul
                  %li
                    %a{href: "https://www.identityiq.com/Credit-Reports/ReportHome.aspx?offercode=431128GL&plancode=PLAN2&sid=#{current_user.member_id}"}= benefit.link_one_text
                  - if benefit.link_two.present?
                    %li.show-for-large-up= link_to benefit.link_two_text, benefit.link_two
                  - if benefit.link_three.present?
                    %li.show-for-large-up= link_to benefit.link_three_text, benefit.link_three
              - else
                - if benefit.link
                  .benefit-link-wrap
                    %a.benefit-link{href: benefit.link}= benefit.link_one_text
            - if benefit.sections.any?
              - benefit.sections.each do |section|
                %h3.secondary-text-c= section.title
                = section.content.html_safe

- content_for :interior_header do
  %section.container.primary-c{:role => "document"}
    .row
      %section#home-hero.interior
        .row
          .large-12.text-center
            %h2.white Member Benefits

- content_for :special_js do
  :javascript
    equalheight = function(container){

      var currentTallest = 0,
      currentRowStart = 0,
      rowDivs = new Array(),
      $el,
      topPosition = 0;
      $(container).each(function() {

       $el = $(this);
       $($el).height('auto')
       topPostion = $el.position().top;

       if (currentRowStart != topPostion) {
         for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
           rowDivs[currentDiv].height(currentTallest);
         }
         rowDivs.length = 0; // empty the array
         currentRowStart = topPostion;
         currentTallest = $el.height();
         rowDivs.push($el);
       } else {
         rowDivs.push($el);
         currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
       }
       for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
         rowDivs[currentDiv].height(currentTallest);
       }
     });
    }

    $(window).load(function() {
      equalheight('.interior-wrap');
    });


    $(window).resize(function(){
      equalheight('.interior-wrap');
    });
