%footer
  .row.test.ft-widget-wrap
    %article#text-3.large-3.columns.widget.widget_text
      .textwidget
        %p
          \&#xA9;2014 Sisk. All Rights Reserved.
          %br/
          Site designed with love by
          %a{href: "http://www.theinfiniteagency.com"} Infinite
    %article#text-2.large-3.columns.widget.widget_text
      %h3 Member Benefits
      .textwidget
        %p
          %strong provided by The Sisk Company
          %br
          4055 International Plaza
          %br/
          Suite 440
          %br/
          Fort Worth, TX 76109
    %article#text-4.large-3.columns.widget.widget_text
      .textwidget
        %p
          Toll Free: 1-800-899-7175
          %br/
          Local: 817-735-4884
    %article#text-5.large-3.columns.widget.widget_text
      %h3 Sitemap
      %ul.sitemap
        - if @site
          %li= link_to 'Home', @site
          %li= link_to 'About', about_site_path(@site)
          %li= link_to 'Savings', savings_site_path(@site)
          %li= link_to 'Health', health_site_path(@site)
          %li= link_to 'Insurance', insurance_site_path(@site)
          %li= link_to 'Security', security_site_path(@site)
        - else
          %li= link_to 'Home', '/'
          %li= link_to 'About', '/about'
%a.exit-off-canvas
