.mobile-announcement-mobile.hide-for-large-up
  %a.droid-dl{href: "https://play.google.com/store/apps/details?id=air.sisk", target: "_blank"}
    = image_tag 'google-play-mobile.png'
  %a.apple-dl{href: "https://itunes.apple.com/us/app/member-benefits-sisk/id915619672?mt=8&uo=4", target: "_blank"}
    = image_tag 'itunes-mobile.png'
%nav.tab-bar.show-for-medium-down
  %section.right-small
    %a.right-off-canvas-toggle.menu-icon
      %span
  %section.middle.tab-bar-section
    - if @site
      = link_to @site do
        = image_tag 'mobile-logo.png'
    - else
      %a{href: "/"}
        =image_tag 'mobile-logo.png'
%aside.right-off-canvas-menu
  %ul.off-canvas-list
    = render 'shared/mobile_navigation_links'

.header
  .top-bar-container.contain-to-grid.show-for-large-up
    %nav.top-bar{"data-topbar" => ""}
      %ul.title-area
        %li.name
          %h1
            - if @site
              = link_to @site do
                = image_tag 'logo.png'
            - else
              %a{href: "/"}
                =image_tag 'logo.png'
      .mobile-announcement
        %a.droid-dl{href: "https://play.google.com/store/apps/details?id=air.sisk", target: "_blank"}
          = image_tag 'google-play.png'
        %a.apple-dl{:href => "https://itunes.apple.com/us/app/member-benefits-sisk/id915619672?mt=8&uo=4", :style => "display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}", :target => "itunes_store"}
      %section.top-bar-section
        %ul#main-menu.top-bar-menu.right
          = render 'layouts/navigation_links'
