//= render 'shared/mobile_announcement'
%nav.tab-bar.show-for-medium-down
  %section.right-small
    %a.right-off-canvas-toggle.menu-icon
      %span
  %section.middle.tab-bar-section
    - if @site
      = link_to @site do
        = image_tag 'mobile-logo.png'
    - else
      %a{href: "/"}
        =image_tag 'mobile-logo.png'
%aside.right-off-canvas-menu
  %ul.off-canvas-list
    = render 'shared/mobile_navigation_links'

.header
  .top-bar-container.contain-to-grid.show-for-large-up
    %nav.top-bar{"data-topbar" => ""}
      .row
        .large-2.columns.logo-wrap
          - if @site
            = link_to @site do
              = image_tag 'logo.png'
          - else
            %a{href: "/"}
              =image_tag 'logo.png'
        .top-bar-section.large-7.columns.left
          %ul#main-menu.top-bar-menu.right
            = render 'layouts/navigation_links'
