.login-form-wrap
  %h4.text-center.white.uppercase Access Benefits
  .row
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form', :autocomplete => "off" }) do |f|
      .medium-3.small-12.columns
        %label.left.inline.white.login-label{for: "user_email"} Email
      .medium-9.columns.small-12
        = f.input_field :email
      .clearfix
      .medium-3.columns.small-12
        %label.left.inline.white.login-label{for: "user_password"} Password
      .medium-9.columns.small-12
        = f.input_field :password
      .medium-12.columns
        .clearfix
        = f.submit "Send", class: "home-submit login-button radius"
        .clearfix
        = link_to 'Register for an account', new_user_registration_path, class: 'home-submit home-register login-button radius'
        .clearfix
        - if devise_mapping.recoverable? && controller_name != 'passwords'
          = link_to "Forgot your password?", new_password_path(resource_name), class: 'forgot-password'
