= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form', :autocomplete => "off" }) do |f|
  .divider
  .small-3.columns.no-padding
    %label.right.inline{for: "user_email"} Email
  .small-9.columns.no-padding
    = f.input_field :email
  .clearfix
  .divider
  .small-3.columns.no-padding
    %label.right.inline{for: "user_password"} Password
  .small-9.columns.no-padding
    = f.input_field :password
  .clearfix
  = f.submit "Send", class: "home-submit"
  .clearfix
  = link_to 'Register for an account', new_user_registration_path, class: 'home-submit home-register'
  - if devise_mapping.recoverable? && controller_name != 'passwords'
    = link_to "Forgot your password?", new_password_path(resource_name), class: 'forgot-password'
