- if @site
  %li
    = link_to "Savings", "http://www.saversguide.com/custom/savingsmadeeasy?uuid=#{current_user.uuid}", target:'_blank'
  %li
    = link_to "Health", health_site_path(@site)
  %li
    = link_to "Insurance", insurance_site_path(@site)
  %li
    = link_to "Security", security_site_path(@site)
- else
  %li
    %a{href: "/about"} About Us
- if user_signed_in?
  %li= link_to "Account", edit_user_registration_path
  %li= link_to "Log Out", destroy_user_session_path
.clearfix
