= simple_form_for(@home_section) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :content
    = f.input :link
    = f.input :visible

  .form-actions
    = f.button :submit
