%section.content.home-sections
  .row.interior-content
    .large-10.columns.large-offset-1.content-box.text-center= @custom_site.content_section.intro_content.gsub!("[BANK NAME]", @custom_site.name).html_safe
    %ul.large-block-grid-4.small-block-grid-1
      - @benefits.each do |benefit|
        %li.home_section
          .inner
            %h4.box-title.text-center= benefit.title
            - if user_signed_in?
              - if benefit.title == 'Savings Made Easy'
                .link-one
                  %a{href: "http://www.saversguide.com/custom/savingsmadeeasy?uuid=#{current_user.member_id}"} Click here to save
              - if benefit.id == 37
                .link-one
                  %a{href: "https://www.identityiq.com/Credit-Reports/ReportHome.aspx?offercode=431128GN&plancode=PLAN5&sid=#{current_user.member_id}"}= benefit.link_one_text
              - if benefit.id == 38
                .link-one
                  %a{href: "https://www.identityiq.com/Credit-Reports/ReportHome.aspx?offercode=431128J7&plancode=PLAN4&sid=#{current_user.member_id}"}= benefit.link_one_text
              - if benefit.id == 39
                .link-one
                  %a{href: "https://www.identityiq.com/Credit-Reports/ReportHome.aspx?offercode=431128GL&plancode=PLAN2&sid=#{current_user.member_id}"}= benefit.link_one_text
              - if benefit.link.present?
                .link-one
                  %a{href: "#{benefit.link}", target: '_blank'}= benefit.link_one_text
              - if benefit.link_two.present?
                .link-one
                  %a{href: "#{benefit.link_two}", target: '_blank'}= benefit.link_two_text
              - if benefit.link_three.present?
                .link-one
                  %a{href: "#{benefit.link_three}", target: '_blank'}= benefit.link_three_text
              %ul.large-block-grid-2.small-block-grid-1
              - unless benefit.link_two.present?
                - if benefit.link_two_text.present?
                  .link-bottom
                    %p.small= benefit.link_two_text.html_safe

- content_for :interior_header do
  %section.container{:role => "document"}
    .row
      %section#home-hero.home
        .row
          .large-7.columns
            .large-9.hide-for-medium-down
              %h2= @custom_site.content_section.header_text
            .show-for-medium-down.center
              %h2= @custom_site.content_section.header_text
