= simple_form_for(@custom_site) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :url
    = f.input :company_name
    = f.input :city
    = f.input :state
    = f.input :zip_code
    = f.input :primary_color
    = f.input :secondary_color
    = f.input :link_color
    = f.input :link_color_hover
    = f.input :club_name
    = f.input :bank_website

  .form-actions
    = f.button :submit
