%p#notice= notice

%p
  %b Name:
  = @custom_site.name
%p
  %b Url:
  = @custom_site.url
%p
  %b Company name:
  = @custom_site.company_name
%p
  %b City:
  = @custom_site.city
%p
  %b State:
  = @custom_site.state
%p
  %b Zip code:
  = @custom_site.zip_code
%p
  %b Primary color:
  = @custom_site.primary_color
%p
  %b Secondary color:
  = @custom_site.secondary_color
%p
  %b Link color:
  = @custom_site.link_color
%p
  %b Link color hover:
  = @custom_site.link_color_hover
%p
  %b Club name:
  = @custom_site.club_name
%p
  %b Bank website:
  = @custom_site.bank_website

= link_to 'Edit', edit_custom_site_path(@custom_site)
\|
= link_to 'Back', custom_sites_path
