%li.benefit.savings-item
  .inner
    .flip
      .card
        .face.front
          .inner
            .reward-title= entry[:title]
        .face.back
          .inner
            = link_to entry[:redemption], pull_print_coupon_site_path(:offer_id => entry[:entry_id]), class: 'savings-button', remote: true
            %h3.savings-title= entry[:title]
            %p.savings-content= entry[:content]
            %p.savings-vendor
              %strong= entry[:title]
            %p.vendor-address
              %span.savings-address= entry[:street_address]
              &nbsp;&bull;&nbsp;
              %span.savings-city= entry[:city]
              ,
              %span.savings-state= entry[:state]
              &nbsp;&nbsp;
              %span.entry-zip= entry[:postal_code]
            %span.entry-distance
              = number_with_precision(entry[:distance], precision: 2)
              miles away


