.medium-8.column.medium-offset-2
  = simple_form_for(resource, :as => resource_name, :url => register_site_path(@site), :html => {:class => 'form' }) do |f|
    = f.error_notification
    = display_base_errors resource
    = f.input :site_id, as: :hidden, value: @site.id
    = f.input :first_name, :required => true
    = f.input :last_name, :required => true
    = f.input :email, :required => true
    = f.input :password, :required => true
    = f.input :password_confirmation, :required => true
    = f.input :member_id, :required => true
    = f.input :login_code, :required => true
    = f.input :email_updates
    = f.button :submit, 'Sign up', :class => 'btn-primary'
  = render "devise/shared/links"

- content_for :interior_header do
  %section.interior-title
    %h1 Register
