.medium-10.column.medium-offset-1
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form' }) do |f|
    = f.error_notification
    = display_base_errors resource
    = f.input :site_id, as: :hidden, input_html: { value: "#{@site.id}" }
    = f.input :first_name, :required => true
    = f.input :last_name, :required => true
    = f.input :email, :required => true
    = f.input :password, :required => true
    = f.input :password_confirmation, :required => true
    = f.input :member_id, :required => true, label: "Member ID"
    = f.input :login_code, :required => true
    = f.input :email_updates
    = f.button :submit, 'Sign up', :class => 'btn-primary'

- content_for :interior_header do
  %section.interior-title
    %h1 Register
