%section.content.interior
  .row
    .medium-10.columns.medium-offset-1
      - @benefits.each do |benefit|
        %article.benefit-item
          %header
            %h3= benefit.title
          .row
            .medium-8.columns.add-margin
              - if benefit.sections.any?
                - @sections = benefit.sections
                - @sections.each do |section|
                  .benefit
                    %h4= section.title
                    = section.content.html_safe
            .medium-4.columns
              %ul.benefit-links
                - if benefit.link
                  %li
                    %a.benefit-link{href: benefit.link}= benefit.link_one_text
          %footer
            .row
              .medium-2.columns.right
                %button.account-button Show More
        .clearfix
- content_for :interior_header do
  .row
    .interior-title
      %h1= @page_title ||= "Member Benefits"
