%section.content.interior
  .row
    .medium-10.columns.medium-offset-1
      - @benefits.each do |benefit|
        .benefits-heading.medium-12
          .inner
          .outer
            .inner.benefit-inner
              = benefit.title
              - if benefit.id == 48
                %ul.benefit-links-ul
                  %li
                    %a{href: "#{benefit.link}"}= benefit.link_one_text
                  - if benefit.link_two.present?
                    %li.show-for-large-up= link_to benefit.link_two_text, benefit.link_two
              - else
                - if benefit.link
                  .benefit-link-wrap
                    %a.benefit-link{href: benefit.link}= benefit.link_one_text
        %ul.large-block-grid-2.small-block-grid-1
          - if benefit.sections.any?
            - @sections = benefit.sections
            - @sections.each do |section|
              %li.benefit.section
                .inner
                  .flip-front
                    .inner= section.title
                  .flip-back
                    .inner= section.content.html_safe
        .clearfix
- content_for :interior_header do
  .row
    .interior-title
      %h1= @page_title ||= "Member Benefits"
