%section.content.interior
  .row
    .medium-10.columns.medium-offset-1
      - @benefits.each do |benefit|
        %article.benefit-item
          %header
            %h3= benefit.title
          .row
            .medium-8.columns
              - if benefit.sections.any?
                - @sections = benefit.sections
                - @sections.each do |section|
                  .benefit
                    %h4= section.title
                    = section.content.html_safe
            .medium-4.columns
              %ul.benefit-links
                - if benefit.id == 48
                  %li
                    %a{href: "#{benefit.link}", target: "_blank"}= benefit.link_one_text
                  - if benefit.link_two.present?
                    %li.show-for-large-up= link_to benefit.link_two_text, benefit.link_two, target: "_blank"
                - else
                  - if benefit.link
                    %li
                      %a.benefit-link{href: benefit.link}= benefit.link_one_text
          %footer
            .row
              .medium-2.columns.right
                %button.account-button.right.hide-for-small Show More
        .clearfix
- content_for :interior_header do
  .row
    .interior-title
      %h1= @page_title ||= "Member Benefits"
