.benefits-heading.medium-12= @page_title
.clearfix
.medium-10.search-fields.medium-offset-1
  = simple_form_for :search, url: pull_savings_site_path(@site), html: {method: 'post', class: 'search-form'}, remote: true do |f|
    = f.input :zip_code, label: "Enter a zip code to search"
    = f.input :category, :as => :select, :collection => entertainment_categories
    .dining-type-select.hide
      = render 'sites/category_partials/dining_subcats', f: f
    .dining-cuisine-select.hide
      = render 'sites/category_partials/cuisine_subcats', f: f
    = f.input :distance, :as => :select, :collection => entertainment_distances
    = f.submit 'Search', class: 'button search-button'
%ul#api-results-wrap.large-block-grid-2.small-block-grid-1
  - if @sections.any?
    = render @sections
