- if @template.blank?
  %section.content.interior
    .row
      .medium-10.columns.medium-offset-1
        - @benefits.each do |benefit|
          .benefits-heading.medium-12
            .inner
              .outer
                .inner.benefit-inner
                  = benefit.title
                  - if benefit.id == 37
                    %ul.benefit-links-ul
                      %li
                        %a{href: "https://www.identityiq.com/Credit-Reports/ReportHome.aspx?offercode=431128GN&plancode=PLAN5&sid=#{current_user.member_id}"}= benefit.link_one_text
                      - if benefit.link_two.present?
                        %li.show-for-large-up= link_to benefit.link_two_text, benefit.link_two
                      - if benefit.link_three.present?
                        %li.show-for-large-up= link_to benefit.link_three_text, benefit.link_three
                  - elsif benefit.id == 38
                    %ul.benefit-links-ul
                      %li
                        %a{href: "https://www.identityiq.com/Credit-Reports/ReportHome.aspx?offercode=431128J7&plancode=PLAN4&sid=#{current_user.member_id}"}= benefit.link_one_text
                      - if benefit.link_two.present?
                        %li.show-for-large-up= link_to benefit.link_two_text, benefit.link_two
                      - if benefit.link_three.present?
                        %li.show-for-large-up= link_to benefit.link_three_text, benefit.link_three
                  - elsif benefit.id == 39
                    %ul.benefit-links-ul
                      %li
                        %a{href: "https://www.identityiq.com/Credit-Reports/ReportHome.aspx?offercode=431128GL&plancode=PLAN2&sid=#{current_user.member_id}"}= benefit.link_one_text
                      - if benefit.link_two.present?
                        %li.show-for-large-up= link_to benefit.link_two_text, benefit.link_two
                      - if benefit.link_three.present?
                        %li.show-for-large-up= link_to benefit.link_three_text, benefit.link_three
                  - else
                    - if benefit.link
                      .benefit-link-wrap
                        %a.benefit-link{href: benefit.link}= benefit.link_one_text

          %ul.large-block-grid-2.small-block-grid-1
            - if benefit.sections.any?
              - @sections = benefit.sections
              - @sections.each do |section|
                %li.section
                  .inner
                    .flip-front
                      .inner= section.title
                    .flip-back
                      .inner= section.content.html_safe
          .clearfix
- else
  = render :partial => "sites/#{@template}/security", locals: { benefits: @benefits }
