- if user_signed_in?
  - if current_user.can_access_site(@site)
    - unless @template.blank?
      = render "sites/#{@template}/show"
    - else
      %section.content.home-sections
        .row.interior-content
          %ul.large-block-grid-4.small-block-grid-1
            - @benefits.each do |benefit|
              %li.home_section
                .inner
                  %h2.box-title= benefit.title
                  - if benefit.title == 'Savings Made Easy'
                    .link-one
                      %a{href: "http://www.saversguide.com/custom/savingsmadeeasy?uuid=#{current_user.member_id}"} Click here to save
                  - if benefit.id == 37
                    .link-one
                      %a{href: "https://www.identityiq.com/Credit-Reports/ReportHome.aspx?offercode=431128GN&plancode=PLAN5&sid=#{current_user.member_id}"}= benefit.link_one_text
                  - if benefit.id == 38
                    .link-one
                      %a{href: "https://www.identityiq.com/Credit-Reports/ReportHome.aspx?offercode=431128J7&plancode=PLAN4&sid=#{current_user.member_id}"}= benefit.link_one_text
                  - if benefit.id == 39
                    .link-one
                      %a{href: "https://www.identityiq.com/Credit-Reports/ReportHome.aspx?offercode=431128GL&plancode=PLAN2&sid=#{current_user.member_id}"}= benefit.link_one_text
                  - if benefit.link.present?
                    .link-one
                      %a{href: "#{benefit.link}", target: '_blank'}= benefit.link_one_text
                  - if benefit.link_two.present?
                    .link-one
                      %a{href: "#{benefit.link_two}", target: '_blank'}= benefit.link_two_text
                  - if benefit.link_three.present?
                    .link-one
                      %a{href: "#{benefit.link_three}", target: '_blank'}= benefit.link_three_text
                  %ul.large-block-grid-2.small-block-grid-1
                  - unless benefit.link_two.present?
                    - if benefit.link_two_text.present?
                      .link-bottom
                        %p.small= benefit.link_two_text.html_safe
    - content_for :interior_header do
      .row
        .interior-title
          %h1= @page_title ||= "Member Benefits"
  - else
    %p You don't have access to this content.
    %p= link_to 'Home', '/'
- else
  = render 'registration_form'
%img.pixel-image{src: "http://www.saversguide.com/custom/savingsmadeeasy/affiliate.gif?uuid=#{current_user.member_id}", width: "1", height: "1", alt: "Savings made Easy"}
:javascript
  $('.flip').click(function(){
    $(this).find('.card').addClass('flipped').mouseleave(function(){
      $(this).removeClass('flipped');
    });
    return false;
  });

- content_for :interior_header do
  %section.container{:role => "document"}
    .row
      %section#home-hero.interior
        .row
          .large-12.text-center
            %h2.white Rewards

