- if user_signed_in?
  - if current_user.can_access_site(@site)
    %ul.large-block-grid-4.small-block-grid-1
      - @benefits.each do |benefit|
        %li.home_section
          .inner
            .outer
              .inner
                %h2.box-title= benefit.title
            - if benefit.title == 'Savings Made Easy'
              .link-one
                %a{href: "/sites/#{@site.id}/savings"} Click here to save
            - if benefit.link.present?
              .link-one
                %a{href: "#{benefit.link}", target: '_blank'}= benefit.link_one_text
            - if benefit.link_two.present?
              .link-one
                %a{href: "#{benefit.link_two}", target: '_blank'}= benefit.link_two_text
            - if benefit.link_three.present?
              .link-one
                %a{href: "#{benefit.link_three}", target: '_blank'}= benefit.link_three_text
            - unless benefit.link_two.present?
              - if benefit.link_two_text.present?
                .link-bottom
                  %p.small= benefit.link_two_text.html_safe
  - else
    %p You don't have access to this content.
    %p= link_to 'Home', '/'
- else
  = render 'registration_form'

:javascript
  $('.flip').click(function(){
    $(this).find('.card').addClass('flipped').mouseleave(function(){
      $(this).removeClass('flipped');
    });
    return false;
  });
