- if @site
  %li.icon-about.menu-item
    = link_to 'About Us', about_site_path(@site)
  %li.icon-rewards.menu-item
    = link_to "Savings", savings_site_path(@site)
  %li.icon-health.menu-item
    = link_to "Health", health_site_path(@site)
  %li.icon-insurance.menu-item
    = link_to "Insurance", insurance_site_path(@site)
  %li.icon-security.menu-item
    = link_to "Security", security_site_path(@site)
- else
  %li.icon-about.menu-item
    %a{href: "/about"} About Us
  %li.icon-rewards.menu-item.disabled
    = link_to "Savings", '#'
  %li.icon-health.menu-item.disabled
    = link_to "Health", '#'
  %li.icon-insurance.menu-item.disabled
    = link_to "Insurance", '#'
  %li.icon-security.menu-item.disabled
    = link_to "Security", '#'

