- if @site
  %li.icon-rewards.menu-item.hover-dim
    = link_to "Savings", "http://www.saversguide.com/custom/savingsmadeeasy?uuid=#{current_user.uuid}", target:'_blank'
  - if @site.health_benefits.any?
    %li.icon-health.menu-item.hover-dim
      = link_to "Health", health_site_path(@site)
  - if @site.insurance_benefits.any?
    %li.icon-insurance.menu-item.hover-dim
      = link_to "Insurance", insurance_site_path(@site)
  - if @site.health_benefits.any?
    %li.icon-security.menu-item.hover-dim
      = link_to "Security", security_site_path(@site)
- else
  %li.icon-about.menu-item.hover-dim
    %a{href: "/about"} About Us
  %li.icon-rewards.menu-item.disabled
    = link_to "Savings", '#'
  %li.icon-health.menu-item.disabled
    = link_to "Health", '#'
  %li.icon-insurance.menu-item.disabled
    = link_to "Insurance", '#'
  %li.icon-security.menu-item.disabled
    = link_to "Security", '#'

