!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Sisk'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Sisk'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    <script src="//use.typekit.net/pur7wlk.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  %body{class: @body_class ||= 'sites'}
    - if user_signed_in?
      = render 'shared/settings_nav'
    .off-canvas-wrap{"data-offcanvas" => ""}
      .inner-wrap
        = render 'shared/header'
        = yield :home_hero
        - if @body_class == 'sites'
          %section.container
            .row
              .interior-title
                %h1= @page_title ||= "Member Benefits"
        - else
          = yield :interior_header
        %section.content
          .row
            .medium-10.columns.medium-offset-1
              = render 'layouts/messages'
              = yield
        = render 'shared/footer'
