!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Member Benefits Packages'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Sisk'}"}
    = stylesheet_link_tag 'application', media: 'all'
    - unless @template.blank?
      = stylesheet_link_tag "#{@template}/style.css"
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    <script src="//use.typekit.net/pur7wlk.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  %body{class: @body_class ||= 'custom-sites sites'}
    - unless @site.blank?
      :css
        a { color: #{@link_color}!important;}
        a:hover { color: #{@link_hover_color}!important;}
    /[if lt IE 9]
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    - if user_signed_in?
      = render 'shared/settings_nav'
    .off-canvas-wrap{"data-offcanvas" => ""}
      .inner-wrap
        .header-wrapper{class: "#{@body_class}"}
          - unless @template.blank?
            = render "shared/#{@template}/header"
          - else
            = render "shared/header"
          = yield :home_header
          - if @body_class == 'sites' && @template.blank?
            .row
              .interior-title
                = @current_uuid
                %h1= @page_title ||= "Member Benefits"
          - else
            = yield :interior_header
        = yield
        - unless @template.blank?
          = render "shared/#{@template}/footer"
        - else
          = render "shared/footer"
    :javascript
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
              e=o.createElement(i);r=o.getElementsByTagName(i)[0];
              e.src='//www.google-analytics.com/analytics.js';
              r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
              ga('create','UA-51149004-1');ga('send','pageview');
