!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Sisk'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Sisk'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    <script src="//use.typekit.net/pur7wlk.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  %body{class: 'sites'}
    - if user_signed_in?
      = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout-link'
    = render 'shared/site_header'
    %section.interior-title
      %h1= @page_title ||= "Member Benefits"
    %section.content
      .row
        .medium-10.columns.medium-offset-1
          = render 'layouts/messages'
          = yield
    = render 'shared/footer'
